#app {}

/* header  */
.header-navbar {
    background-color: #333;
    color: #fff;
    width: 150px;
}

.header-logo {
    background: url('../../assets/image/logo.png') center center/cover no-repeat;
    display: block;
    height: 50px;
    width: 150px;
    cursor: pointer;
}


.navbar {

    color: #fff;
}


#navbarSupportedContent {
    color: #fff;
}

.nav-link {
    color: #ccc !important;
    font-size: 14px;
}

.nav-item.active .nav-link {
    color: #dc3545 !important;
}

/* banner  */
.banner-img {
    background: url('../../assets/image/banner.png') center center/contain no-repeat;
    padding-top: 30%;
    height: 50%;
    width: 50%;
}

.banner-title {
    font-size: 40px;
    font-weight: 600;
}

/* Features */
.custom-card {
    min-width: 300px;
}

.scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    /* Optional: Smooth scrolling for iOS */
}